  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    top: 0;
    left: 0;
  }

  .logo{
    font-weight: bolder;
    color: #fff;
  }

  .button-stack{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }
  
  .login-button{
    font-family: Roboto-Regular;
    font-size: 15px;
    font-weight:bolder;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .signup-button{
    font-family: Roboto-Regular;
    font-size: 15px;
    font-weight:bolder;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    background: rgb(218, 9, 237);
    color: rgb(255, 255, 255);
    box-shadow: rgb(218, 9, 237) 0px 10px 20px -5px;
    cursor: pointer;
  }

  .signup-button:hover{
    background-color: rgb(199, 19, 187);
  }

  
