/* Styles for the quiz container */
.quiz-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('../../assets/images/backgroundimg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  }

  .title11{
    text-align: center;
  }
  
  /* Styles for the question card */
  .question-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Styles for the question text */
  .question {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Styles for the options container */
  .options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
  }

  .clear-button {
    font-family: Roboto-Regular;
    background: red;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
  }

  .prev-button {
    font-family: Roboto-Regular;
    background: #007BFF;
    color: #fff;
    font-size: 15px;
    font-weight:bolder;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .next-button {
    font-family: Roboto-Regular;
    background: #007BFF;
    color: #fff;
    font-size: 15px;
    font-weight:bolder;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .summary-statistics {
    font-family: Poppins-Medium;
  }
  
  /* Styles for each option label */
  .option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  /* Styles for the radio buttons */
  .option input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Styles for the Clear Options button */
  .deselect-button {
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Styles for the timer section */
  #timer {
    font-size: 18px;
    margin-top: 20px;
  }
  
  /* Styles for the Submit Test button */
  .submit-button1 {
    background-color: gold;
    box-shadow: gold 0px 10px 20px -10px;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Roboto-Regular;
    font-weight:bolder;
    margin-top: 20px;
    cursor: pointer;
  }
  
  /* Styles for the summary card */
  #summary-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Styles for the pie chart card */
  #pie-chart-card {
    margin-top: 20px;
  }
  